html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  position: absolute;
}

options {
  width: 10%;
  height: 100%;
  display: none;
  z-index: 1;
  background-color: red;
}

options-div {
  display:block;
}
